*{
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}
img{
    height: 250px;
    width: 250px;
}
#name-surname{
    margin-left: 300px;
    padding-top: 20px;
    display: inline-block;
}
#photo{
    display: inline-block;
}
#main{
    background-color:white;
    border: 10px solid orange;
    padding: 10px 70px 20px;
    max-height: 1200px;
    max-width: 900px;
}
#first-section{
    display: flex;
    justify-content: space-between;
}

ul{
    list-style: none;
    
}
#about div{
    display: inline-block;
    padding: 20px;
}
hr{
    height: 10px;
    background-color: black;
}
.information{
    padding-top: 10px;
    display: flex;
    justify-content: space-between;
}
p.date{
    background-color: black;
    color: white;
}
.sections {
 border: 20px;
 margin: 10px 0px;
}
#skills div{
    margin: 20px 0px 0px;
    display: inline-block;
}

.full-information p{
    padding-left: 30px;
}
.prop-name p{
    font-weight: bolder;
}
#skills div{
    padding: 0px 20px 10px;
}
#last-info div{
    padding: 10px 0px;
}
strong{
    font-family: fantasy;
    font-size: 25px;
}