#icon{
    background-color: red;
    border-radius: 15px 50px;
    display: inline-block;
    width: 300px;
    height: 300px;
    margin: 10% 25% 0%;
    margin-bottom: 0px;
    box-shadow: 10px 10px 5px #2b2a2a;
}
#truck{
    margin: 25%;
}
#main{
    display: block;
    background-color: white;
    border: 3px black solid;
    height: 720px;
    width: 600px;
    margin-left: 25%;
    margin-right: 25%;
}
#text{
    margin: 30px;
}
#name-of-company{
    text-align: center;
}
#my-text{
    text-align: center;
    text-align: justify;
    font-family: 'Azeret Mono', monospace,bold;
}
#logo{
    margin: 0px 32%;
}