*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* header part */
.header-nav{
    
}
.header-nav .background{
    
}
.header-nav .row .col-3{
    width: 25%;
    float: left;
}
.header-nav .row .col-9{
    width: 75%;
    float: left;
}
.header-nav .row .link ul li{
    float: left;
    list-style: none;
    margin-right: 70px;
}
.header-nav .row .link button{
    border-radius: 15%;
    background-color: blue;
    
}
.header-slider{
    background-size: auto;
    background-image: url(/assets/img/background.jpg);
    width: 100%;
}
.header-slider .container{

}
.header-slider .container .row{

}
.header-slider .container .row .col-12{
    width: 100%;
}
.header-slider .container .row .my-title{

}
.header-slider .container .row .my-title .title{
    text-align: center;
}
.header-slider .container .row .my-title .title h2,p,button{
    margin-bottom: 30px;
}
/* main part*/
main .first-section{
    width: 100%;
    
}
main .first-section .container{

}
main .first-section .container .row{

}
.title-2-text{
    display: inline-block;
}
main .first-section .container .title-2{
    padding: 30px 200px;
    display: inline-block;
}
main .first-section .container .row .col-6{
    width: 50%;
    float: left;
}
main .first-section .container .row .title-2-text{
    text-align: center;
}
.text-2 p{
    margin: 30px auto 0;

}
.section .container .join{
    color: #fff;
    background-image: url(/assets/img/milky-way-2695569__480.jpg);
    text-align: center;
}
.our-work-section{
    width: 100%;
    margin: 0 auto;
}
.our-work-section .our-work-container{
    width: 100%;
}
.our-work-section .our-work-container .our-work{
    width: 100%;
}
.our-work-section .our-work-container .our-work .row{
    margin: 0 200px;
}
.our-work-section .our-work-container .our-work .row .col-6{
    width: 50%;
    float: left;
}
.our-work-section .our-work-container .our-work .row .col-6{
    width: 50%;
    float: left;
}
.our-work-section .our-work-container .our-work .row .our-text{
    text-align: justify;
}
.our-work-section .our-work-container .our-work .row .our-work-b{
    position: relative;
    top: 50px;
    right: 5px;
    float: left;
}